@import "foundation";
@import "main";

//iphone
@media #{$small-only} {
	body {
		font-size: 12px;
	}

} 

@media #{$small-up} {
  
}

@media #{$medium-up} { 
	body {
		font-size: 16px;
	}
	header {
		// position: fixed;
		width: $full-width;
		#logo {
		  width: 10%;
		  min-width: 120px;
		  margin: 0.5*($base-margin);
		  @include absolute;
		}
		nav {
			min-width: 850px;
			ul#primary-nav {
				margin-top: 0;
				li {
					display: inline-block;
					a {
						font-size: 1em;
					}
				}
			}
		}
		#social-links {
			li {
				padding: 0 0.5*($base-padding) 0 0;
			}
			a img {
				max-width: 20px;
			}
		}
	}

	main {
		section {
			padding: 0 10%;
			// padding-top: 25vh;
			height: 75vh;
			width: 100vw;
		}
	}

	#home {
		text-align: left;
		h1 {
			display: inline;
			min-width: 600px;
		}
		.character {
			max-width: 150px;
			display: inline-block;
			vertical-align: top;
			float: right;
			padding: 0;
		}
	}

	#story {
		padding: 0;
		height: 75vh;
		max-height: 75vh;
		width: 100vw;
		#story-slider {
				max-height: auto;
				height: auto;
			.story-1 {
				max-height: 75vh;
				height: 75vh;
			}	
		}
	}

	#about-slider {
		padding: 10vh;
	}

	.contact-icons img {
		width: 80%;
	}

}

@media #{$large-only} {
	#home h1 {
		font-size: 7em;
	}
	header {
		#logo {
			margin: $base-margin;
		}
		#social-links {
			li {
				padding: $base-padding 0.5*($base-padding) 0 0;
			}
			a img {
				max-width: 30px;
			}
		}
	}
	#about-slider {
		width: 100vw;
		height: 75vh;
		max-height: 75vh;
		h2 {
			width: 50vw;
		}
	}

}