@import "foundation";
@import "main";

//iphone
@media #{$small-only} {

} 

@media #{$small-up} {
  
}

@media #{$medium-up} { 
	header {
		position: fixed;
		width: $full-width;
		background: $white;
		#logo {
		  width: 10%;
		  min-width: 120px;
		  margin: 0.5*($base-margin);
		  @include absolute;
		}
		nav {
			min-width: 720px;
		}
		#social_links {
			li {
				padding: 0 0.5*($base-padding) 0 0;
			}
			a img {
				max-width: 20px;
			}
		}
	}

	main {
		padding-top: 25vh;
		section {
			padding: 0 10%;
			height: 75vh;
		}
	}

	#home {
		text-align: left;
		h1 {
			display: inline;
			min-width: 600px;
		}
		.character {
			max-width: 150px;
			display: inline-block;
			vertical-align: top;
			float: right;
			padding: 0;
		}
	}
	#story {
		padding: 0;
		height: 75vh;
		max-height: 75vh;
		#story-slider {
				max-height: auto;
				height: auto;
			.story-1 {
				max-height: 75vh;
				height: 75vh;
				margin: auto;
				min-width: 840px;
			}	
		}
	}
}

@media #{$large-only} {
	#home h1 {
		font-size: 7em;
	}
	header {
		#logo {
			margin: $base-margin;
		}
		#social_links {
			li {
				padding: $base-padding 0.5*($base-padding) 0 0;
			}
			a img {
				max-width: 30px;
			}
		}
	}

}