// ********
// **HOME**
// ********

#home {
	text-align: center;
	h1 {
		min-width: 370px;
		font-size: $main-header-font-size;
	}
	.character {
		padding: $base-padding;
	}
}

// *********
// **STORY**
// *********

#story {
	background: $black;
	max-height: 100vh;
	height: 100vh;
	#story-slider {
		text-align: center;
		height: 100vh;
		max-height: 100vh;
	}
}

